
#todoList {
    position: relative;
    top: 25%;
    bottom: 25%;
    width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border: 1px solid lightgray;
    overflow: scroll;
}

@media (max-width:800px) {
    #todoList {
        width: 80%;
    }

    #input {
        max-width: 60%;
    }
}

#input {
    width: 90%;
    font-size: 30px;
    border: none;
    border-bottom: 1px gray solid;
    outline: none;
    max-width: 75%;

}

#submit {
    background-color: skyblue;
    color: white;
    border: none;
    width: 80px;
    font-size: 30px;
    float: right;
    margin-top: -10px;

}

#submit:hover {
    background-color: navy;
}


.check{
  float: left;
   margin-right: 10px;
   width: 30px;
   height: 30px;
}
.check:hover {
    background-color: navy;
}

.completed p {
    text-decoration: line-through;
    color: gray;
}
.completed {
  background-color: lightgray;
}



.delete {
    float: right;
    font-size: 20px;
    padding: 5px 10px;
    width: 30px;
    background-color: red;
    color: white;
}

.delete:hover {
    background-color: crimson;
}

.todo {
    font-size: 30px;
    padding: 20px 0px;
    font-family: sans-serif;
    border-bottom: 1px solid gray;
}
.todo:hover{
  background: skyblue;
}
.todo:last-of-type {
    border-bottom: none;
}

p {
  font-family: sans-serif;
    display: inline-block;
    margin: 0px;
}

button {
    background: none;
    position: relative;

}
