/* Style the input */
input {
  width: 90%;
  font-size: 30px;
  border: none;
  border-bottom: 1px gray solid;
  outline: none;
  max-width: 75%;
}


/* Style the "Add" button */
#add {
  position: relative;
  right: 10%;
  float: right;
  background-color: skyblue;
  color: white;
  border: none;
  width: 80px;
  font-size: 30px;
  margin-top: -10px;
}

#add:hover {
  background-color: navy;
}
