.todo {
  cursor: pointer;
  position: relative;
  padding: 12px;
  list-style-type: none;
  font-size: 20px;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.todo:hover {
  background: skyblue;
}

/* When clicked on, add a background color and strike out text */
.completed  {
  background-color: lightgray;
}
.completed p {
    text-decoration: line-through;
    color: gray;
}



/* Style the close button */
.delete {
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 40px;
  width: 40px;
  background-color: red;
  color: white;
}

.delete:hover {
  background-color: crimson;
}

.check {
  float: left;
   margin-right: 10px;
   width: 30px;
   height: 30px;
}

.check:hover {
  background-color: navy;
}
